.login-container {
    flex: 1;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.login-div {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-content: center;
    gap: 20px;
    width: 50%;
    padding: 50px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.login-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    border-radius: 10px;
}

.login-form label {
    font-weight: bold;
}

.login-form #login,
.login-form #motdepasse {
    padding: 8px;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #ccc;
    transition: 0.3s ease;
}

.login-form #login:focus,
.login-form #motdepasse:focus {
    outline: none;
    border-bottom: 1px solid #2178d4;
}

.login-form input[type="submit"] {
    padding: 10px 16px;
    font-size: 16px;
    border: none;
    background-color: #2178d4;
    color: #ffffff;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.03s ease;
}